section#home.home 
   form(action="")
      h3 find your perfect home 
      .buttons-container 
         a(href="#") for rent 
         a(href="#") for sell 
      
      //-
      .inputBox 
         input(type="search", placeholder="neighborhood")
         input(type="search", placeholder="city")
         select(name="")  
            option(disabled, hidden, selected, value="") minimum price 
            option(value="$5000")  $5000
            option(value="$10000")  $10000
            option(value="$15000")  $15000
            option(value="$20000")  $20000
            option(value="$25000")  $25000
            option(value="$30000")  $30000
