@import "def";

$green:#27ae60;
$dark_green:#219150;
$black:#444;
$light-black:#666;
$white:#fff;

$border:.1rem solid rgba(0,0,0, .1);
$border_hover: .1rem solid $black;
$box_shadow: 0 .5rem 1rem rgba(0,0,0, .1);

$normal_font:1.7rem;
$big_font:2.5rem;


*{
    font-family: "Poppins", sans-serif;
}

// 클래스 유틸
.newsletter{
    background: url("../assets/BookStore/letter-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior:smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: $black;
}

