@import "def";
@use "./mixin";

$orange:#ff7800;
$black:#130f40;
$light:#666;
$white:#fff;
$shadow:0 .5rem 1rem rgba(0,0,0, .1);
$border:.2rem solid rgba(0,0,0, .1);
$outline:.1rem solid rgba(0,0,0, .1);
$outline-hover:.2rem solid $black;
$radius: .5rem;

// A 태그버튼 
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border: .2rem solid $black;
    border-radius: $radius;
    color: $black;
    cursor: pointer;

    &:hover{
        background-color: $orange;
        color: $white;
    }
}
.heading{
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    text-align: center;
    color: $black;

    span{
        display: inline-block;
        padding: .5rem 3rem;
        background-color: $orange;
        color: $white;
        clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    }
}



html{
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    
}

body{
    background-color: #eee;
}

// 섹션
section{
    padding: 2rem 9%;
}

// 메뉴버튼 감추기 
#menu-btn{
    display: none;
}

// 헤더영역
.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;

    // 
    padding: 2rem 9%;
    background-color: $white;
    box-shadow: $shadow;


    display: flex;
    align-items: center;
    justify-content: space-between;

    // 로그영역
    .logo{
        font-size: 2.5rem;
        font-weight: bolder;
        color: $black;

        // 로그아이콘 
        i{
            color: $orange;
            margin-right: .25rem;
        }
    }
    // 네비게이션바
    .navbar{
        
        // 메뉴
        a{
            margin: 0 1rem;
            font-size: 1.7rem;
            color: $black;
        }
        a:hover{
            color: $orange;
        }
    }

    // 아이콘
    .icons {

        .icon{
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;

            margin-right: .3rem;
            font-size: 2rem;
            background-color: #eee;
            color: $black;

            text-align: center;
            border-radius: $radius;
            background: #eee;

            cursor: pointer;
        }
        .icon:hover,
        .icon.active{
            background-color: $orange;
            color: $white;
        }
    }

    // 검색창 
    #search-form{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 50rem;
        height: 4rem;
        background-color: $white;
        border-radius: $radius;
        overflow: hidden;

        display: flex;
        align-items: center;
        box-shadow: $shadow;

        transition: .5s ease-in-out;

        input{
            height: 100%;
            width: 100%;

            font-size: 1.7rem;
            padding: 0 1.5rem;
            
            background: none;
            color: $black;
            text-transform: none;
        }

        label{
            padding-right: 1.5rem;
            font-size: 2.2rem;
            color: $black;
            cursor: pointer;

            &:hover {
                color: $orange;
            }
        }
    }
    #search-form.active{
        right: 2rem;
        
    }

    // 쇼핑카드
    .shopping-cart{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        padding: 1rem;
        border-radius: $radius;
        box-shadow: $shadow;
        transition: .5s ease-in-out;

        // 
        .box{
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;
            margin: 1rem 0;

            img{
                height: 10rem;
            }

            // 삭제버튼
            .fa-trash{
                position: absolute;
                top: 50%;
                right: 2rem;
                font-size: 2rem;
                cursor: pointer;
                color: $light;
                transform: translateY(-50%);

                &:hover{
                    color: $orange;
                }
            }
            // 컨텐츠
            .content{
                h3{
                    padding-bottom: 1rem;
                    font-size: 1.7rem;
                    color: $black;
                }
                span{
                    font-size: 1.6rem;
                    color: $light;
                }

                .quantity{
                    padding-left: 1rem;
                }
            }
        }
        // TOTAL
        .total{
            padding: 1rem 0;
            font-size: 2.5rem;
            text-align: center;
            color: $black;
        }
        // 버튼 
        .btn{
            display: block;
            text-align: center;
            margin: 1rem;
        }
    }
    .shopping-cart.active{
        right: 2rem;
    }
    // 로그인폼 
    #login-form{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        padding: 2rem;
        background-color: $white;
        box-shadow: $shadow;
        border-radius: $radius;
        text-align: center;
        transition: .5s ease-in-out;

        h3{
            font-size: 2.5rem;

        }

        .box{
            width: 100%;
            margin: .7rem 0;
            padding: 1rem;
            font-size: 1.7rem;
            background-color: #eee;
            color: $black;
            text-transform: none;
            border-radius: $radius;
        }
        p{
            padding: .5rem 0;
            font-size: 1.5rem;
            color: $light;
        }
    }
    #login-form.active{
        right: 2rem;
    }

}

// 홈화면
.home{
    padding-top: 17rem;
    padding-bottom: 10rem;
    background: url(../assets/Grocery/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    // 컨텐츠
    .content{
        width: 60rem;
        text-align: center;
    }

    h3{
        font-size: 3rem;
        color: $black;

        span{
            color: $orange;
        }
    }
    p{
        padding: 1rem;
        font-size: 1.7rem;
        line-height: 1.8;
        color: $light;
    }
}

// FEATURES
.features {

    .box-container{

        @include GridView(30rem, 1.5rem);
    }
}


// 미디어쿼리

// 991px
@media (max-width:991px){
    html{
        font-size: 55%;
    }
}
// 768px
@media (max-width:768px){
    
    section{
        padding: 2rem;
    }

    #menu-btn{
        display: inline-block;
    }
    // 네비게션바 
    .header{
        .navbar{
            position: absolute;
            top: 110%;
            right: -110%;
            width: 30rem;
            background-color: $white;
            box-shadow: $shadow;
            border-radius: $radius;
            transition: .5s ease-in-out;
            a{
                display: block;
                margin: 2rem 2.5rem;
                font-size: 2rem;
            }
        }
        .navbar.active{
            right: 2rem;
        }
    }
}
// 451px
@media (max-width:451px){

    .heading{
        font-size: 2.5rem;
    }

    html{
        font-size: 50%;
    }
}

