@import "def";

$main-color: #e8786e;
$black-color:#555;
$light-color:#777;
$bg-color: #fceae9;

$border: .1rem solid rgba(0,0,0,0.1);
$box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
$radius: 0.5rem;

@mixin viewCenter {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}
// %boxContainer{
//    display: grid;
//    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
//    gap: 1.5rem;
// }
@mixin boxContainer($min, $gap){
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
   gap: $gap;
}
@mixin borderLine(){
   border: $border;
   box-shadow: $box-shadow;
   border-radius: $radius;
}


*{
   font-family: "Nunito", sans-serif;
   // transition: all .3s ease-out;
}

html{
   font-size: 62.5%;
   scroll-behavior: smooth;
   scroll-padding-top: 9rem;
   overflow-x: hidden;
}

section, footer {
   padding: 2rem 9%;
}

// img {
//    width: 100%;
//    height: 100%;
// }

.btn {
   position: relative;
   display: inline-block;
   font-size: 1.7rem;
   color: #fff;
   background-color: $main-color;
   border-radius: $radius;
   box-shadow: $box-shadow;
   margin-top: 1rem;
   padding: .8rem 3rem;
   cursor: pointer;
   z-index: 0;
   overflow: hidden;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0%;
      height: 100%;
      background-color: $black-color;
      z-index: -1;
      transition: .2s ease-out;
   }
   &:hover::before {
      left: 0;
      width: 100%;
   }
}

.heading {
   text-align: center;
   font-size: 4rem;
   padding-bottom: 3rem;
   color: $black-color;

   span {
      color: $main-color;
      background-color: $bg-color;
      border-radius: $radius;
      padding: 0 1.5rem;
   }
}



// 메뉴버튼
#menu-btn {
   cursor: pointer;
   font-size: 2.5rem;
   padding: 1rem 1.3rem;
   border-radius: $radius;
   color: $main-color;
   background-color: $bg-color;
   display: none;
   z-index: 100;

   &:hover {
      background-color: $main-color;
      color: #fff;
   }
}

// 헤더영역 
header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: #fff;
   box-shadow: $box-shadow;
   z-index: 10;

   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem 9%;

   .logo {
      font-size: 2.5rem;
      color: $black-color;
      font-weight: bolder;
   }

   .navbar a {
      font-size: 1.7rem;
      color: $light-color;
      margin-left: 2rem;

      &:hover {
         color: $main-color;
      }
   }

   

}

// 홈 화면
section.home {

   position: relative;
   padding-top: 10rem;
   background-color: $bg-color;

   @include viewCenter;

   .content {
      flex: 1 1 45rem;
      text-align: center;

      h3{
         font-size: 3.5rem;
         color: $black-color;
         line-height: 1.8;
      }

      p {
         font-size: 1.5rem;
         color: $light-color;
         line-height: 1.8;
         padding: 1rem 0;
      }
   }

   .image {
      flex: 1 1 45rem;

      img {
         width: 100%;
      }
   }

   .cloud {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      height: 18rem;
      background-size: 250rem 18rem;
      background: url("../assets/MarketO/cloud.png") repeat-x;
      animation: cloud 10s linear infinite;
   }

   @keyframes cloud {
      0%{
         background-position-x: 0rem;
      }
      100%{
         background-position-x: -250rem;
      }
   }

   .cloud1 {
      opacity: 0.5;
      height: 20rem;
      background-size: 250rem 20rem;
      animation-direction: reverse;
      animation-duration: 15s;
   }

   .cloud2 {
   
   }
}

// 서비스 섹션
section.services {


   .box-container {
      // @extend %boxContainer;
      @include boxContainer(27rem, 1.5rem);

      .box{
         text-align: center;
         border: $border;
         box-shadow:$box-shadow;
         border-radius: $radius;
         padding: 4rem 2rem;

         img{
            height: 10rem;
         }

         h3{
            font-size: 2.5rem;
            color: $black-color;
            padding-top: 1.5rem;
         }

         p {
            font-size: 1.5rem;
            color: $light-color;
            padding: 1rem 0;
            line-height: 1.8;
         }
      }

   }
}

// 어바웃 섹션
section.about {

   .row {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         gap: 1.5rem; 

         .image {
            flex: 1 1 45rem;
            padding: 2rem;

            img {
               width: 100%;
            }
         }

         .content {
            flex: 1 1 45rem;

            .title{
               font-size: 3rem;
               color: $black-color;
            }

            p {
               font-size: 1.5rem;
               color: $light-color;
               line-height: 1.8;
               padding: 1rem 0;
            }

            .icon-container {
               display: flex;
               flex-wrap: wrap;
               gap: 1.5rem;
               padding-top: 2rem;
            }

            .icons {
               flex:  1 1 15rem;
               text-align: center;
               border-radius: $radius;
               border: $border;
               padding: 1.5rem;

               i {
                  width: 5rem;
                  height: 5rem;
                  line-height: 5rem;
                  font-size: 2rem;
                  color: $main-color;
                  background-color:$bg-color;
                  border-radius: 50%;
               }

               h3 {
                  font-size: 1.5rem;
                  color: $light-color;
                  padding-top: 1rem;
               }
            }
         }
   }
}

// 포트폴리오 섹션
section.portpolio {

   .box-container {

      @include boxContainer(27rem,1.5rem);

      .box{
         height: 30rem;
         border-radius: $radius;
         overflow: hidden;
         position: relative;
         box-shadow: $box-shadow;

         

         span {
            font-size: 5rem;
            color: $black-color;
            position: absolute;
            top: 1rem;
            right: 2rem;
         }

         img {
            height: 100%;
            width: 100%;
            object-fit: cover;
         }

         .content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: -6rem;
            left: 0;
            transition-delay: .3s;

            opacity: 0;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            h3{
               font-size: 2.5rem;
               padding-top: 0.5rem;
               color: $black-color;
            }
            h3{
               font-size: 1.5rem;
               color: $light-color;
            }
         }
      }
      .box::before{
         content: "";
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background-color: #fff;
         clip-path: circle(30% at 93% 0);
         transition: 0.3s linear;
      }
      .box:hover::before {
         clip-path: circle(100%);
      }

      .box:hover{
         .content{
            left: 0;
            opacity: 1;
         }
      }


   }
}

// 프라이스
section.pricing{

   .box-container{
      @include boxContainer(30rem, 1.5rem);
      .box{
         padding: 2rem;
         border-radius: $radius;
         text-align: center;
         border: $border;
         box-shadow: $box-shadow;

         h3{
            font-size: 2.5rem;
            color: $black-color;
         }

         img{
            height: 15rem;
            margin: 2.5rem 0;
         }

         .price {
            font-size: 3.5rem;
            font-weight: bolder;
            color: $main-color;

            span{
               font-size: 2rem;
               font-weight: lighter;
               color: $main-color;
            }
         }

         ul {
            padding: 1rem 0;

            li{
               font-size: 1.7rem;
               padding: 1rem 0;
               color: $light-color;
            }
         }
      }
   }
}

// 리뷰 섹션 
section.review {

   .box-container {
      @include boxContainer(30rem,1.5rem);

      .box {
         padding: 2rem;
         border-radius: $radius;
         border: $border;
         box-shadow: $box-shadow;

         .user {
            display: flex;
            align-items: center;
            padding-bottom: 1rem;

            img{
               width: 7rem;
               height: 7rem;
               border-radius: 50%;
               margin: 0 1rem;
            }

            h3{
               font-size: 2.2rem;
               color: $black-color;
               padding-bottom: 0.5rem;
            }

            .star i{
               font-size: 1.5rem;
               color: $main-color;
            }
         }

         i.fa-quote-right {
            font-size: 5rem;
            margin-left: auto;
            color: $bg-color;
         }

         p{
            font-size: 1.6rem;
            padding-top: 1rem;
            line-height: 1.8;
            color: $light-color;
            font-style: italic;
         }
      }
   }
}

// 컨텍트 섹션
section.contact{

   .icons-container {
      @include boxContainer(30rem,1.5rem);

      .icons{
         padding: 2.5rem;
         text-align: center;
         @include borderLine();

         i {
            font-size: 2.5rem;

            width: 6rem;
            height: 6rem;
            line-height: 6rem;

            color: $main-color;
            background-color: $bg-color;
            border-radius: 50%;
         }

         h3 {
            font-size: 2.5rem;
            padding: 1rem 0;
            color: $black-color;
         }

         p {
            font-size: 1.5rem;
            color: $light-color;
            line-height: 1.5;
         }
      }
   }

   .row {
      margin-top: 2rem;
      
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      .map {
         flex: 1 1 45rem;
         width: 100%;
         padding: 2rem;

         @include borderLine();
      }
      form {
         flex: 1 1 45rem;
         padding: 2rem;

         @include borderLine();

         .box{
            width: 100%;
            font-size: 1.6rem;
            padding: 1rem;
            margin: 0.7rem 0;
            color: $black-color;
            @include borderLine();
            background-color: #f7f7f7;
            text-transform: none;

            &:focus {
               background-color: $bg-color;
            }

         }

         textarea.box {
            height: 20rem;
            text-transform: none;
         }

         .btn:hover {
            background-color: $black-color;
         }
      }
   }
}

// 푸터 
footer {
   margin-top: 1rem;
   background-color: $bg-color;


   .box-container {
      @include boxContainer(23rem, 1fr);

      .box {
         h3{
            font-size: 2.5rem;
            padding: 1rem 0;
            color: $black-color;
         }

         a {
            display: block;
            font-size: 1.5rem;
            padding: 1rem 0;
            color: $light-color;

            i {
               padding-right: .5rem;
               color: $main-color;
            }
            
         }
         a:hover {
            padding: 2rem;
         }
      }
   }

   .credit {
      font-size: 2rem;
      margin-top: 2rem;
      padding: 2rem 1rem 1rem 1rem;
      
      color: $black-color;
      text-align: center;

      span {
         color: $main-color;
      }
   }
}



// 미디어쿼리
@media (max-width:991px){
   html {
      font-size: 55%;
   }

   section {
      padding: 2rem;
   }

   header {
      padding: 2rem;
   }

}
// 768px
@media (max-width:768px){

   #menu-btn{
      display: initial;
   }
   header {

      .navbar{
         width: 30rem;
         position: absolute;
         top: 115%;
         right: 2rem;
         background-color: #fff;
         box-shadow: $box-shadow;
         border: $border;
         border-radius: $radius;
         transform: scale(0);
         transform-origin: top right;
         opacity: 0;

         a{
            font-size: 2rem;
            display: block;
            padding: 1rem;
            margin: 1rem;
            border-radius: $radius;

            &:hover {
               background-color: $bg-color;
            }
         }
      }
      .navbar.active {
         transform: scale(1);
         opacity: 1;
      }
   }
}

// 450px
@media (max-width:450px){
   html {
      font-size: 50%;
   }

}