@import "./def";

html{
   font-family: 'Nunito', sans-serif;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 3.5rem;
   z-index: 100;
}

body{
   background-color: #f7f7f7;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;

   background-color: #fff;
   padding: 1rem 9%;
   box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);

   display: flex;
   align-items: center;
   justify-content: space-between;

   a.logo {
      font-size: 1.25rem;
      color: #333;
      font-weight: bolder;

      span {
         color: red;
      }
   }

   .navbar a {
      font-size: 1rem;
      color: #333;
      padding: 0 .75rem;

      &:hover {
         color: red;
      }
   }
   .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .icons #menu-bars, 
   .icons a {
      width: 2.5rem;
      height: 2.25rem;
      line-height: 2.25rem;

      font-size: 1rem;
      margin-right: 0.25rem;
      border-radius: 0.25rem;
      color: red;
      background-color: lightcoral;
      text-align: center;

      &:hover {
         background-color: red;
         color: #fff;
      }
   }

   .icons #menu-bars {
      display: none;
   }
}

@media (max-width:991px){
   header{
      padding: 0.75rem 0.5rem;
   }
}
@media (max-width:768px){
   header{
      .icons #menu-bars {
         display: inline-block;
      }

      .navbar{
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         background-color: #f7f7f7;
         border-top: 0.1rem solid #333;
         border-bottom: 0.1rem solid #333;
         transition: .2s linear;
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
         a {
            display: block;
            background-color: #fff;
            padding: 0.75rem;
            margin: 0.75rem;
            border: 0.1rem solid #333;
            box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
            border-radius: 0.25rem;
         }
      }
   }
}

@media (max-width:450px){
   
}