@import "./def";

$redColor: red;
$lightRed: lightcoral;
$border: 0.1rem solid #333;
$boxShadow: 0 0.5rem 1.5rem rgba(0,0,0, 0.1);

@mixin boxContainer($gap){
   display: flex;
   flex-wrap: wrap;
   gap: $gap;
}
@mixin flexBox($size){
   flex: 1 1 $size;
}
@mixin borderLine(){
   border: 0.1rem solid rgba(0,0,0, 0.2);
   box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.1);
   border-radius: 0.2rem;
}


html{
   font-family: 'Nunito', sans-serif;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 3.5rem;
   z-index: 100;
   font-size: 62.5%;
}

body{
   background-color: #f7f7f7;
}

select, input{
   flex: 1 1 25rem;
   font-size: 1.5rem;
   padding: 1rem;
   text-transform: none;
   border: $border;
   box-shadow: $boxShadow;
}

section {
   padding: 2rem;
}

.heading {
   font-size: 4rem;
   padding-bottom: 2rem;
   color: #333;
   text-align: center;

   span{
      padding: 0.2rem 1.5rem;
      color: $redColor;
      background-color: $lightRed;
      border-radius: 0.5rem;

   }
}


header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;

   background-color: #fff;
   padding: 1rem 9%;
   box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);

   display: flex;
   align-items: center;
   justify-content: space-between;

   a.logo {
      font-size: 1.25rem;
      color: #333;
      font-weight: bolder;

      span {
         color: $redColor;
      }
   }

   .navbar a {
      font-size: 1rem;
      color: #333;
      padding: 0 .75rem;

      &:hover {
         color: $redColor;
      }
   }
   .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .icons #menu-bars, 
   .icons a {
      width: 2.5rem;
      height: 2.25rem;
      line-height: 2.25rem;

      font-size: 1rem;
      margin-right: 0.25rem;
      border-radius: 0.25rem;
      color: $redColor;
      background-color: $lightRed;
      text-align: center;

      &:hover {
         background-color: $redColor;
         color: #fff;
      }
   }

   .icons #menu-bars {
      display: none;
   }
}

// 홈화면
section.home {

}

// 서비스 섹션
section.services {
   .box-container {
      @include boxContainer(1.5rem);

      .box {
         @include flexBox(30rem);
         padding: 2rem;
         text-align: center;

         border: 0.1rem solid rgba(0,0,0, 0.2);
         box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.1);
         border-radius: 0.5rem;

         background-color: #fff;

         h3 {
            font-size: 2.5rem;
            color: #333;
         }
         p {
            font-size: 1.5rem;
            padding: 1rem 0;
            color: #666;
            line-height: 1.5;
         }

         

      }
   }
}




// 퓨처스 섹션
section.featured{

   .box-container{
      @include boxContainer(1.5rem);

      .box {
         @include flexBox(30rem);
         @include borderLine();
         overflow: hidden;
         background-color: #fff;

         .image-container{
            width: 100%;
            height: 25rem;
            overflow: hidden;
            position: relative;

            &:hover {
               transform: scale(1.1);
            }

            img{
               width: 100%;
               height: 100%;
               object-fit: cover;
               transition: 0.3s linear;
            }

            .info{
               position: absolute;
               top: 1rem;
               left: 0;
               display: flex;

               h3{
                  font-size: 1.4rem;
                  padding: 0.5rem 1.5rem;
                  margin-left: 1rem;
                  color: #fff;
                  background-color: rgba(0,0,0, 0.3);
                  font-weight: 500;

               }
            }

            .icons {
               position: absolute;
               right:  0;
               bottom: 0;
               display: flex;

               a {
                  font-size: 1.4rem;
                  padding: 0.7rem;
                  margin-right: 1rem;
                  color: #fff;
                  background-color: rgba(0,0,0, 0.3);
                  font-weight: 500;
                  border-radius: 0.5rem;

                  &:hover {
                     background-color: $redColor;
                  }

                  h3{
                     padding-left: 0.5rem;
                     font-weight: 500;
                  }
               }
            }
         }
         .content{
            padding: 1.5rem;

            .price{
               display: flex;
               align-items: center;

               h3{
                  font-size: 2rem;
                  margin-right: auto;
                  color: $redColor;
               }
               a{
                  width: 4rem;
                  height: 4rem;
                  line-height: 4rem;
                  font-size: 1.5rem;
                  margin-right: 0.5rem;
                  color: #666;
                  background-color: #f7f7f7;
                  text-align: center;
                  border-radius: 0.5rem;

                  &:hover {
                     background-color: $redColor;
                     color: #fff;
                  }
               }
            }

            .locations {
               padding: 1rem 0;

               h3{
                  font-size: 2.5rem;
                  color: #333;
               }
               p{
                  font-size: 1.5rem;
                  color: #666;
                  line-height: 2;
                  padding-top: 0.5rem;
               }
            }

            .details{
               padding: 0.5rem 0;
               display: flex;

               h3{
                  flex: 1;
                  font-size: 1.3rem;
                  padding: 1rem;
                  border: 0.1rem solid rgba(0,0,0, 0.1);
                  color: #999;

                  i{
                     padding-left: 0.5rem;
                     color: #333;
                  }
               }
            }

            .buttons {
               display: flex;
               gap: 1rem;

               .btn{
                  flex: 1;
                  font-size: 1.5rem;
               }
            }
         }

      }
   }

   
}


// 모바일 반응형 
@media (max-width:991px){
   header{
      padding: 0.75rem 0.5rem;
   }
}
@media (max-width:768px){
   header{
      .icons #menu-bars {
         display: inline-block;
      }

      .navbar{
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         background-color: #f7f7f7;
         border-top: 0.1rem solid #333;
         border-bottom: 0.1rem solid #333;
         transition: .2s linear;
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
         a {
            display: block;
            background-color: #fff;
            padding: 0.75rem;
            margin: 0.75rem;
            border: 0.1rem solid #333;
            box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
            border-radius: 0.25rem;
         }
      }
   }
}

@media (max-width:450px){
   
}