@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
}

section.box {
  font-family: "Poppins", sans-serif;
}

section.box .box-container {
  background: linear-gradient(45deg, blueviolet, lightgreen);
  padding: 1.5rem 9%;
  padding-bottom: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

section.box .box-container .box {
  padding: 3rem 2rem;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

section.box .box-container .box:hover {
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

section.box .box-container .box img {
  height: 10rem;
}

section.box .box-container .box h3 {
  font-size: 2.5rem;
  color: #333;
  padding: 1.5rem;
}

section.box .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  line-height: 1.5;
}

section.box .box-container .box .btn {
  font-size: 1.7rem;
  padding: .8rem 2.5rem;
  border-radius: .5rem;
  margin-top: 1rem;
  display: inline-block;
  background-color: #333;
  color: #fff;
}

section.box .box-container .box .btn:hover {
  letter-spacing: .1rem;
}
