html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Resturant Food's
        link(rel="stylesheet", href="../css/Food.css")
        script(src="../js/Food.js", defer) 
    body
        header.header 
            a.logo(href="#")
                i.fas.fa-utensils 
                | food
            //- 메뉴
            nav.navbar 
                each menu in menus 
                    a(href=`#${menu}`)= menu 
            //- 아이콘즈
            .icons 
                each icon in icons 
                    div(id=`${icon.id}`, class=icon.class)
        //- 검색창
        include ./searchForm 
        //- 쇼핑카트 
        include ./shoppingCart
        //- 로그인폼
        include ./loginForm 

        section.home#home 
            .content 
                span welcome foodies 
                h3 different spices form th different tastes 
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eius sapiente facere impedit veniam temporibus!
                a.btn(href="#") order now 
            .image 
                img.home-img(src="../assets/Food/home-img.png", alt="")
                img.home-parallax-img(src="../assets/Food/home-parallax-img.png", alt="")