section.login-form-container 
    form(action="")
        h3 login form
        input#email.box(type="email", name="", placeholder="enter your email")
        input#password.box(type="password", name="", placeholder="entery your password")
        .remember 
            input#remember-me(type="checkbox", name="")
            label(for="remember-me") remember me 
        input.btn(type="submit", value="login now")
        p forget passwod? 
            a(href="#") click here 
        p don't have an account? 
            a(href="#") create one

