section.about#about 
    .video-container
        video(src="../assets/Travel/about-vid-1.mp4", muted autoplay loop ) 
        .controls 
            span.control-btn(data-src="../assets/Travel/about-vid-1.mp4")
            span.control-btn(data-src="../assets/Travel/about-vid-2.mp4")
            span.control-btn(data-src="../assets/Travel/about-vid-3.mp4")
    //- 컨텍츠
    .content 
        span why choose us?
        h3 Nature's Majsty Awaits You 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque architecto accusamus maxime perferendis omnis veniam ducimus et facilis reiciendis vel?
        a.bnt(href="") read more 