section#home.home
    .content 
        span follow us 
        h3 to the unknown 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque placeat dignissimos aliquam architecto quos qui rerum, reiciendis omnis asperiores eveniet!
        a.btn(href="#") book now 
