doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title MR.WEB 
      link(rel="stylesheet", href="../scss/index.css")
      script(src="../js/index.js" defer) 
   body 
      include ./mixin   

      header 
         #menu-bar.fas.fa-bars 
         nav.navbar 
            +addMenuLink({src:"/RealEstate", title:"Real Estate"})
            +addMenuLink({src:"/CreateCard", title:"CreateCard"})
            +addMenuLink({src:"/MarketO", title:"Market O"})
            +addMenuLink({src:"/Controls", title:"Controls..."})
            +addMenuLink({src:"/PortPolio", title:"PortPolio"})
            +addMenuLink({src:"/Restaurant", title:"Restaurant"})
            +addMenuLink({src:"/Glassmorphism", title:"Glassmorphism"})
            +addMenuLink({src:"/Grocery", title:"Grocery Store"})
            +addMenuLink({src:"/BookStore", title:"Book Store"})
            +addMenuLink({src:"/ColorSwitcher", title:"Color Swithcer"})