doctype html
html(lang="ko")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Real Estate
      link(rel="stylesheet", href="../css/realEstate.css")
      script(src="../js/realEstate.js" defer) 
   body 
      include ./mixin
      include ./RealEstate/mixin 

      header 
         a.logo(href="#") 
            span real 
            |Estate 
         nav.navbar  
            a(href="#home") home 
            a(href="#services") services 
            a(href="#featured") featured 
            a(href="#agents") agents 
            a(href="#contact") contact 
         .icons 
            #menu-bars.fa.fa-bars 
            a.fas.fa-heart(href="") 
            a.fas.fa-user(href="") 
      
      include ./RealEstate/home 
      section#services.services 
         +Heading({ head:"our", line:"services" })  
         
         .box-container 
            +addServiceBox({src:"../assets/RealEstate/s-1.png", title:"buying home"})
            +addServiceBox({src:"../assets/RealEstate/s-2.png", title:"renting home"})
            +addServiceBox({src:"../assets/RealEstate/s-3.png", title:"selling home"})

      section#featured.featured 
         +Heading({line:"featured", tail:"properties"})
         .box-container 
            +addFeatureBox({
               src:"../assets/RealEstate/img-1.jpg",
               icon1:"2", icon2:"6",
               price:"25,000/mo",
               title:"modern apartments"
            })
            +addFeatureBox({
               src:"../assets/RealEstate/img-2.jpg",
               icon1:"2", icon2:"6",
               price:"25,000/mo",
               title:"modern apartments"
            })
            +addFeatureBox({
               src:"../assets/RealEstate/img-3.jpg",
               icon1:"2", icon2:"6",
               price:"25,000/mo",
               title:"modern apartments"
            })
            +addFeatureBox({
               src:"../assets/RealEstate/img-4.jpg",
               icon1:"2", icon2:"6",
               price:"25,000/mo",
               title:"modern apartments"
            })
            +addFeatureBox({
               src:"../assets/RealEstate/img-5.jpg",
               icon1:"2", icon2:"6",
               price:"25,000/mo",
               title:"modern apartments"
            })
            +addFeatureBox({
               src:"../assets/RealEstate/img-6.jpg",
               icon1:"2", icon2:"6",
               price:"25,000/mo",
               title:"modern apartments"
            })
      section#agents.agents 
         +Heading({head:"professional ", line:" agents"})
         .box-container 
            +addAgentBox({name:"jon doe", src:"../assets/RealEstate/pic-1.png"})
            +addAgentBox({name:"jon doe", src:"../assets/RealEstate/pic-2.png"})
            +addAgentBox({name:"jon doe", src:"../assets/RealEstate/pic-3.png"})
            +addAgentBox({name:"jon doe", src:"../assets/RealEstate/pic-4.png"})
      
      //- 컨텍트
      section#contact.contact  
         +Heading({tail:"us ", line:"contact"})
         .icons-container 
            +addContactIconBox({src:"../assets/RealEstate/icon-1.png",
               title:"phone number", datas:["+123-456-7890", "+111-222-9699"]})
            +addContactIconBox({src:"../assets/RealEstate/icon-2.png",
               title:"email address", datas:["email@gmail.com", "realEstate@gmail.com"]})
            +addContactIconBox({src:"../assets/RealEstate/icon-3.png",
               title:"office address", datas:["joneshwari, mumbai india - 400100"]})

         .row 
            form(action="")
               .inputBox 
                  input(type="text", placeholder="name")
                  input(type="number", placeholder="number")
               .inputBox 
                  input(type="email", placeholder="email")
                  input(type="text", placeholder="subject")
               textarea(name="", cols="30", rows="10", placeholder="message")
               input.btn(type="submit", value="send message")

            iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12654.563824512594!2d127.04916424339918!3d37.53996014129749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca493a3fc0081%3A0xd98c70910b3fbde9!2z7ISc7Jq47Yq567OE7IucIOyEseuPmeq1rCDshLHsiJjrj5ky6rCA!5e0!3m2!1sko!2skr!4v1630998460679!5m2!1sko!2skr",
               allowfullscreen="", loading="lazy")
            
      footer.footer 
         .footer-container 
            .box-container 
               .box 
                  h3 branch location 
                  a(href="#") india  
                  a(href="#") USA  
                  a(href="#") france  
                  a(href="#") russia  
                  a(href="#") korea  
               .box 
                  h3 quick links 
                  a(href="#home") home  
                  a(href="#services") services  
                  a(href="#feattured") feattured  
                  a(href="#agents") agents  
                  a(href="#contact") contact  
               .box 
                  h3 extra links 
                  a(href="#home") my account  
                  a(href="#services") my favorite  
                  a(href="#feattured") my list 
               .box 
                  h3 follow us
                  a(href="#home") facebook 
                  a(href="#home") twitter 
                  a(href="#home") instagram 
                  a(href="#home") linkedin 
                  
                  
            .credit created by 
               span mr. web designer 
               || all rights reserved! 
