doctype html
html(lang="ko")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Restaurant
      link(rel="stylesheet", href="../css/Restaurant.css")
      script(src="../js/Restaurant.js" defer) 
   body 
      header.header 
         a.logo(href="") 
            i.fas.fa-untensils
            | resto. 
         nav.navbar 
            a(href="#home")  home
            a(href="#dishes") dishes
            a(href="#about") about
            a(href="#menu") menu
            a(href="#review") review
            a(href="#order") order
         .icons 
            i.fas.fa-menu-bars 
            i.fas.fa-menu-bars 
            i.fas.fa-menu-bars 
