form#login-form(action="")
    h3 login now 
    input.box(type="email", name="email", placeholder="your email")
    input.box(type="password", name="password", placeholder="your password")
    p forget your password 
        a(href="#") click here 
    p don't have an account 
        a(href="#") create now 
    input(type="submit", value="login now")