section#home.home 
    .row 
        .content 
            h3 upto 75% off 
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aliquid inventore cumque magnam libero ullam reprehenderit labore similique rem dicta sapiente unde accusamus, consequuntur doloremque, molestias voluptatibus iusto mollitia a?
            a.btn(href="/show-now") show now
        //- 
        .books-slider.swiper 
            .wrapper.swiper-wrapper  
                a(href="#")
                    img.swiper-slide(src="../assets/BookStore/book-1.png", alt="") 
                    img.swiper-slide(src="../assets/BookStore/book-2.png", alt="") 
                    img.swiper-slide(src="../assets/BookStore/book-3.png", alt="") 
                    img.swiper-slide(src="../assets/BookStore/book-4.png", alt="") 
                    img.swiper-slide(src="../assets/BookStore/book-5.png", alt="") 
                    img.swiper-slide(src="../assets/BookStore/book-6.png", alt="") 
            //- 
            img.stand(src="../assets/BookStore/stand.png", alt="")