html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Color Switcher
        link(rel="stylesheet", href="../css/ColorSwitcher.css")
        script(src="../js/ColorSwitcher.js" defer) 
    body 
        include ./theme 
        .container 
            .content 
                img(src="../assets/ColorSwitcher/kitten.jpg", alt="")
                h3 some one text title heading 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod iste sit unde temporibus assumenda ut distinctio expedita molestiae nisi quasi?
                a.btn(href="#") read more 