mixin Box1(i)
   .box-container 
      each item in i.items 
         .box
            img(src=item.src, alt="")
            h3= item.title
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, rem?
            a.btn(href="") read more 